/Code - OSS
/dconf
/discord
/eww
/gsmartcontrol
/htop
/hypr-back
/inkscape
/keepassxc
/kitty-back
/mimeapps.list
/pavucontrol.ini
/starship.toml
/pulse
/qt6ct
/QtProject.conf
/rog
/spotify
/systemd
/torbrowser
/xfce4
/xournalpp
/Thunar
/VeraCrypt
